<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<h1>{{title}}</h1>

<label> Geben Sie etwas ein: </label>
<input id="something" type="text" [(ngModel)] = "something" >
<br>
<button (click)="click()"> Press for More</button>
<br>

<div [ngClass]= "something == '' ? 'empty' : 'filled'">

<p *ngIf="something.length >= 4;else elseBlock"> Ihre Eingabe lautet: {{something}}</p>
<ng-template #elseBlock>Ihre eingabe ist zu Kurz</ng-template>

</div>
<ul>
    <li [ngStyle]= "{'color': 'blue'}" *ngFor="let item of things"> {{ item }} </li>
</ul>




<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
