<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<h1>{{title}}</h1>

<label> Geben Sie etwas ein: </label>
<input id="something" type="text" [(ngModel)] = "something" >
<br>
<button (click)="click()"> Press for More</button>
<br>

<div [ngClass]= "something == '' ? 'empty' : 'filled'">

<p *ngIf="something.length >= 4;else elseBlock"> Ihre Eingabe lautet: {{something}}</p>
<ng-template #elseBlock>Ihre eingabe ist zu Kurz</ng-template>

</div>
<ul>
    <li [ngStyle]= "{'color': 'blue'}" *ngFor="let item of things"> {{ item }} </li>
</ul>

<hr>

<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Koenigsegg</mat-card-title>
      <mat-card-subtitle>SuperSportwagen</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://wallpaperaccess.com/full/422261.jpg" alt="Photo of a Koenigsegg">
    <mat-card-content>
      <p>
        Der Koenigsegg Agera ist ein Supersportwagen, den der schwedische Fahrzeughersteller Koenigsegg in verschiedenen Varianten produzierte:
        Von 1000 - 1500ps gibt es genügend auswahl für jeden Autoverrückten!
      </p>
    </mat-card-content>
  </mat-card>




<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
